<div class="login-content">
	<!-- Login -->
	<div class="lc-block toggled" id="l-login">
		<div class="lcb-form">
			<div>
				<%= link_to(image_tag('core/login.png'), root_path) -%>
			</div>
			<h4 class="text-left m-b-25">Account Sign Up</h4>
			<%= form_for(Account.new, url: users_accounts_lookup_path, html: { method: :post }) do |f| -%>

			<div class="input-group form-group">
				<div class="fg-line">
					<label class="control-label email">Subdomain</label>
					<input type="text" class="form-control input-lg" required placeholder="e.g. acme" id="user_email" name="user[email]" >
				</div>
				<span class="input-group-addon last text c-amber">.D&B Tools.io</span>
			</div>

			<div class="form-group">
				<div class="fg-line">
					<label class="control-label email">Email Address</label>
					<input type="email" class="form-control input-lg" required placeholder="e.g. name@acme.com" id="user_email" name="user[email]" >
				</div>
			</div>

			<div class="form-group">
				<div class="fg-line">
					<label class="control-label">Password</label>
					<input type="password" class="form-control input-lg" placeholder="your secret password" id="user_password" name="user[password]">
				</div>
			</div>

			<button type="submit" class='btn btn-primary btn-lg m-b-20 p-r-30 p-l-30 waves-effect' style='width: 100%'>Sign Up</button>
      <% end -%>

			<div class="f-16 m-b-20">Already have an account? <%= link_to "Sign in", sign_in_path %> now!</div>


			<%= render partial: 'core/legal_information' -%>
	</div>

</div>
