<h3>Sign Up</h3>
<h5>Start your free 14-day trial</h5>
<form>
<div>
  <label>Subdomain</label>
  <input>.D&B Tools.io
</div>
<div>
  <label>Email</label>
  <input>
</div>
<div>
  <label>Password</label>
  <input>
  Passwords must be 8-20 characters long and include 3 of the following: uppercase letters, lowercase letters, numbers and special characters (!, @, #, $, etc.).
</div>
<button type="submit">Submit</button>
</form>
